# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/*
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
myspring.iml
src/
target/
